.bookshelves-bg {
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(174, 168, 168);
  border-radius: 4px;
  padding: 10px;
  width: 264px;
  height: 36px;
  opacity: 0px;
}
.search-input {
  outline: none;
  border: none;
  padding: 1px;
}
.search-icon {
  height: 15px;
  width: 15px;
}
.labels-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  margin-top: 20px;
}
.label-item {
  list-style-type: none;
  margin-right: 12px;
}

.read-status-btn {
  background-color: #0284c7;
  color: rgb(239, 244, 245);
}
.btn {
  background-color: transparent;
  border: 1px solid #0284c7;
  color: #0284c7;
  height: 24px;
  font-family: 'inter';
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 25px;
}
.btn:hover {
  background-color: #32e84d;
  color: white;
}

.books-ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book-item {
  margin-bottom: 20px;
  list-style-type: none;
  margin-right: 10px;
}
.book-container :hover {
  box-shadow: 4px 4px 5px rgb(122, 114, 114);
  border-radius: 10px;
}
.book-container {
  display: flex;
  align-items: center;
}
.cover-pic {
  width: 133px;
  height: 155px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin-right: 10px;
}
.text-container {
  width: 140px;
  height: 100px;
  border-radius: 1px;
  opacity: 0px;
  gap: 20px;
}
.book-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 7px;
}
.author-name {
  font-family: Inter;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 7px;
  font-weight: 500;
  text-align: left;
}
